header {
    background: var(--bg);
    border-bottom: 1px solid var(--border);
}

header .nav-bar {
    position: relative;
    padding: .5rem 0;
    margin: auto;
    width: 90%;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}


header .logo-box {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}

header .logo-container{
    display: flex;
    align-items: flex-end;
    color: var(--p);
}
header .web-name{
    font-size: 1.5rem;
    font-family: var(--lora);
}

header .logo-box svg {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--p);
}

header .link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header ul li {
    position: relative;
    list-style: none;
    cursor: pointer;
}

header ul li::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--p);
    transition: .3s;
}

header ul li:hover::after {
    width: 100%;
}

header ul li a {
    text-decoration: none;
    color: var(--text-balance);
    transition: color .3s;
}

header ul li a:hover {
    color: var(--light);
}

header .search-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--bg-light);
    border-radius: 4px;
    padding: .5rem 1rem;
}

header .search-box .icon {
    color: var(--text-balance);
}

header .search-box input {
    background: transparent;
    color: var(--light);
    width: 7rem;
}

header .search-box:focus-within {
    outline: 2px solid var(--border-p);
    border-radius: 2rem;
}

header .ham-box {
    display: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

header .ham-box svg {
    width: 100%;
    height: 100%;
    color: var(--text-balance);
}

header .ham-box:hover svg {
    color: var(--light);
}



/* Target screens with a minimum width of 768 pixels and a maximum of 1023 pixels */
@media (max-width: 768px) {
    header .ham-box {
        display: block;
    }

    header .link-box.none {
        display: none;
    }

    header .link-box.flex {
        padding-block: 1rem;
        align-items: start;
        flex-direction: column;
    }

}